<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
    <sitecore>
        <pipelines>
            <getContentEditorWarnings>
                <processor type="Locksmith.Pipelines.GetContentEditorWarnings.UnlockNotification, Locksmith" />
            </getContentEditorWarnings>
            <getPageEditorNotifications>
                <processor type="Locksmith.Pipelines.GetPageEditorNotifications.UnlockNotification, Locksmith" />
            </getPageEditorNotifications>
            <initialize>
                <processor type="Locksmith.Pipelines.Initialize.RegisterWebApiRoutes, Locksmith" patch:before="processor[@type-'Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
            </initialize>
        </pipelines>
    </sitecore>
</configuration>